.body{
    margin: 0%;
    
}
.main{
    
    height: 100vh;
    width: 100%;
    background-color:white;
    color: black;
    margin-top: 5%;
}
   
h1{

    text-align: center;
    
}
.container{
    position: relative;
    margin-top: 60px;

}
.first,.second,.third,.fourth,.five{
    float: left;
    width: 15%;
    height: 400px;
    position: relative;
}

.first{
    left:10%;
    background: rgb(3, 3, 85);
    position: relative;

    
}
.second{
    left: 12%;
    background: #19ced4;
    position: relative;
}
.third{
    left: 14%;
    background: rgb(137, 192, 209);
    position: relative;
    
}
.fourth{
    left: 16%;
    background: rgba(255, 255, 0, 0.884);
    position: relative;

}
.five{
    left: 18%;
    background:crimson;
    position: relative;
}